@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Este site esta em fase de construção, caso você encotre um erro, porfavor informe para a gente.</p>
    <a asp-action="Adiciona">Adiciona Tarefa</a>
</div>

<div asp-validation-summary="All" class="text-danger"></div>