<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GustaffTarefas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GustaffTarefas.styles.css" asp-append-version="true" />

    <script type="module" src="https://unpkg.com/@@fluentui/web-components"></script>
</head>
<body>

    <header id="header">

        <a id="logo" asp-action="Index" asp-controller="Home">Tarefas</a>

        <nav id="nav">

            <button id="btnMobile">Menu <span id="hamburger"></span> </button>

            <ul id="menu">
                <li><a asp-action="Privacy" asp-controller="home">Gustaff</a></li>
                <li><a asp-action="Privacy" asp-controller="home" >Despesas</a></li>
                <li><a asp-action="Privacy" asp-controller="home">Lista</a></li>
                <li><a asp-action="Privacy" asp-controller="home">Sobre</a></li>
            </ul>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>