html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Felx */

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

    .flex > div {
        flex: 1 1 250px;
        background: #1e90ff; /* azul mais moderno */
        color: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s, box-shadow 0.2s;
        max-width: 300px;
    }

    .flex > .prioridade-alta {
        background-color: #1f2633 !important;
        color: wheat;
    }

    .flex > .prioridade-media {
        background-color: #7229d9 !important;
        color: wheat;
    }

    .flex > .prioridade-baixa {
        background-color: #e052f2 !important;
        color: wheat;
    }

        .flex > div:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

    .flex a {
        text-decoration: none;
        color: inherit;
        display: block;
        color: wheat;
    }

    .flex h4 {
        margin-top: 0;
        font-size: 1.2em;
        font-weight: bold;
    }

    .flex p {
        margin: 8px 0;
    }

.atrasado {
    animation: fundoPiscar 1s infinite;
    font-weight: bold;
    color: white;
}

@keyframes fundoPiscar {
    0%, 100% {
        background-color: #1e90ff; /* azul normal */
    }

    50% {
        background-color: red;
    }
}

/* fluente */
fluent-dialog::part(control) {
    border-radius: 12px;
    padding: 20px;
    background: #f8f9fa;
}